@{
    ViewData["Title"] = "Add a Chef";
}

@model Chef

<h1 class="text-center border-bottom border-dark border-2 w-50 pb-3 m-auto">Add a Chef</h1>

<form asp-action="CreateChef" method="post">
    <div class="form-group row justify-content-center mt-4">
        @* First Name | Last Name | Birthday *@
        <div class="form-group col-4">
            <div class="d-flex align-items-center">
                <label asp-for="FirstName" class="mb-1 w-50">First Name:</label>
                <input asp-for="FirstName" class="form-control border-dark border-2 mb-1">
            </div>
            <span asp-validation-for="FirstName" class="text-danger d-flex justify-content-end"></span>

            <div class="mt-2 d-flex align-items-center">
                <label asp-for="LastName" class="mb-1 w-50">Last Name:</label>
                <input asp-for="LastName" class="form-control border-dark border-2 mb-1">
            </div>
            <span asp-validation-for="LastName" class="text-danger d-flex justify-content-end"></span>

            @* Birthday *@
            <div class="form-group">
                <div class="mt-2 d-flex align-items-center">
                    <label asp-for="Birthday" class="mb-1 w-50">Date of Birth:</label>
                    <input asp-for="Birthday" class="form-control border-dark border-2 mb-1">
                </div>
                <span asp-validation-for="Birthday" class="text-danger d-flex justify-content-end"></span>

                @* Add Chef Button *@
                <span>
                    <input type="submit" class="btn btn-outline-dark border-2 mt-4 shadow-sm btn-pad d-flex align-items-center" value="Add Chef">
                </span>
            </div>
        </div>
    </div>
</form>